In [48]:
#pip install nltk spacy textblob

In [49]:
import nltk

In [50]:
#nltk.download('punkt') #tokenization 
#nltk.download('stopwords') #stopwards removals
#nltk.download('averaged_percenptron_tagger')#POS tagging 
#nltk.download('wordnet')#wordnet database and lemmatization
#nltk.download('omw-1.4')  #stemming
#nltk.download('indian') #Indian language POS tagging
#nltk.download('maxent_ne_chunker')

In [52]:
sent = 'They told that their ages are 25 27 and 31 respectively'
# Find average of ages mentioned in the above sentence.

In [53]:
lst = sent.split(sep=" ")
lst

['They',
 'told',
 'that',
 'their',
 'ages',
 'are',
 '25',
 '27',
 'and',
 '31',
 'respectively']

In [54]:
import numpy as np
for  i in lst:
    if i.isnumeric():
        print(i)

25
27
31

In [55]:
ages= []
for word in sent.split():
    if word.isdigit():
        ages.append(int(word))

In [56]:
sum(ages)/len(ages)

27.666666666666668

In [57]:
ages = [int(word) for word in sent.split() if word.isdigit()]
np.mean(ages)
#sum(ages) / len(ages)

27.666666666666668

In [58]:
np.mean([int(word) for word in sent.split() if word.isnumeric()])

27.666666666666668

### Tokenization

In [59]:
sent ="Hello friends! How are you? Welcome to Python Programming."

In [60]:
#import the functions
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize

In [61]:
# segmentation 
sent_tokenize(sent)

['Hello friends!', 'How are you?', 'Welcome to Python Programming.']

In [62]:
word_tokenize(sent) # segmentation

['Hello',
 'friends',
 '!',
 'How',
 'are',
 'you',
 '?',
 'Welcome',
 'to',
 'Python',
 'Programming',
 '.']

In [63]:
type(word_tokenize(sent))

list

In [64]:
#percentage of punctuation symbols wrt to words

lst=word_tokenize(sent)
punct_count =len([word for word in lst if not word.isalnum()])
punct_count/len(lst)

0.25

In [65]:
ord('#')

35

In [66]:
import sys
sys.getsizeof('=')

50

In [67]:
char ='tulsi Mundada'
sys.getsizeof(char)

62

In [68]:
chr(84),chr(85),chr(76),chr(83),chr(73)

('T', 'U', 'L', 'S', 'I')

In [69]:
chr(77),chr(65),chr(78),chr(65),chr(83)

('M', 'A', 'N', 'A', 'S')

In [70]:
chr(68),chr(73),chr(86),chr(89),chr(65),chr(78),chr(73)

('D', 'I', 'V', 'Y', 'A', 'N', 'I')

In [71]:
char='\u0924\u0941\u0932\u0938\u0940'
char

'तुलसी'

In [72]:
char='\u092E\u093E\u0928\u0938'
char

'मानस'

In [73]:
char='\u0926\u093F\u092F\u093E'
char

'दिया'

In [74]:
name ="दिव्यानि संतोषवार मानस अग्रवाल तुलसी मूंदड़ा संस्कार अग्रवाल"
name.split()

['दिव्यानि',
 'संतोषवार',
 'मानस',
 'अग्रवाल',
 'तुलसी',
 'मूंदड़ा',
 'संस्कार',
 'अग्रवाल']

In [75]:
name.startswith('द')

True

In [76]:
name.replace('दिव्यानि ','दिव्यानी ')

'दिव्यानी संतोषवार मानस अग्रवाल तुलसी मूंदड़ा संस्कार अग्रवाल'

In [77]:
len(name)

59

In [78]:
name =['दिव्यानि','संतोषवार','मानस','अग्रवाल','तुलसी','मूंदड़ा','संस्कार','अग्रवाल']
for name in name:
    if name.startswith('अ'):
        print(name)

अग्रवाल
अग्रवाल

In [79]:
text ="राजगढ़ एक पहाड़ी किला है जो भारत के महाराष्ट्र राज्य के पुणे जिले में स्थित है। इसे मुरुमदेव के नाम से भी जाना जाता है। यह किला लगभग 26 वर्षों तक छत्रपती शिवाजी महाराज के शासन में मराठा साम्राज्य की राजधानी थी। बाद में राजधानी को रायगढ़ Archived 2020-09-20 at the वेबैक मशीन किले में स्थानांतरित कर दिया गया था। तोरण नामक एक निकटवर्ती किले से खोजे गए खजाने का इस्तेमाल इस किले को बनाने और मजबूत करने के लिए किया गया था।"

In [80]:
text

'राजगढ़ एक पहाड़ी किला है जो भारत के महाराष्ट्र राज्य के पुणे जिले में स्थित है। इसे मुरुमदेव के नाम से भी जाना जाता है। यह किला लगभग 26 वर्षों तक छत्रपती शिवाजी महाराज के शासन में मराठा साम्राज्य की राजधानी थी। बाद में राजधानी को रायगढ़ Archived 2020-09-20 at the वेबैक मशीन किले में स्थानांतरित कर दिया गया था। तोरण नामक एक निकटवर्ती किले से खोजे गए खजाने का इस्तेमाल इस किले को बनाने और मजबूत करने के लिए किया गया था।'

In [81]:
word_tokenize(text)

['राजगढ़',
 'एक',
 'पहाड़ी',
 'किला',
 'है',
 'जो',
 'भारत',
 'के',
 'महाराष्ट्र',
 'राज्य',
 'के',
 'पुणे',
 'जिले',
 'में',
 'स्थित',
 'है।',
 'इसे',
 'मुरुमदेव',
 'के',
 'नाम',
 'से',
 'भी',
 'जाना',
 'जाता',
 'है।',
 'यह',
 'किला',
 'लगभग',
 '26',
 'वर्षों',
 'तक',
 'छत्रपती',
 'शिवाजी',
 'महाराज',
 'के',
 'शासन',
 'में',
 'मराठा',
 'साम्राज्य',
 'की',
 'राजधानी',
 'थी।',
 'बाद',
 'में',
 'राजधानी',
 'को',
 'रायगढ़',
 'Archived',
 '2020-09-20',
 'at',
 'the',
 'वेबैक',
 'मशीन',
 'किले',
 'में',
 'स्थानांतरित',
 'कर',
 'दिया',
 'गया',
 'था।',
 'तोरण',
 'नामक',
 'एक',
 'निकटवर्ती',
 'किले',
 'से',
 'खोजे',
 'गए',
 'खजाने',
 'का',
 'इस्तेमाल',
 'इस',
 'किले',
 'को',
 'बनाने',
 'और',
 'मजबूत',
 'करने',
 'के',
 'लिए',
 'किया',
 'गया',
 'था।']

In [82]:
sent_tokenize(text)

['राजगढ़ एक पहाड़ी किला है जो भारत के महाराष्ट्र राज्य के पुणे जिले में स्थित है। इसे मुरुमदेव के नाम से भी जाना जाता है। यह किला लगभग 26 वर्षों तक छत्रपती शिवाजी महाराज के शासन में मराठा साम्राज्य की राजधानी थी। बाद में राजधानी को रायगढ़ Archived 2020-09-20 at the वेबैक मशीन किले में स्थानांतरित कर दिया गया था। तोरण नामक एक निकटवर्ती किले से खोजे गए खजाने का इस्तेमाल इस किले को बनाने और मजबूत करने के लिए किया गया था।']

##### Space Tokenizer

In [83]:
file = open(r"C:\Users\dai\Desktop\NLP\mydata.txt" , encoding="UTF-8")
#print(file.read())
data=file.read()
data

'Hello friends!😂\t How 🫲are you ?❤️\nWelcome to the world☠️ of python Programming💻.\n'

In [84]:
#import the class
from nltk.tokenize import SpaceTokenizer

#create the obj
tk = SpaceTokenizer()

#tokenize the dtaa
tk.tokenize(data)

['Hello',
 'friends!😂\t',
 'How',
 '🫲are',
 'you',
 '?❤️\nWelcome',
 'to',
 'the',
 'world☠️',
 'of',
 'python',
 'Programming💻.\n']

In [85]:
#### Tab Tokenizer

file = open(r"C:\Users\dai\Desktop\NLP\mydata.txt", encoding="UTF-8")
data=file.read()
data

'Hello friends!😂\t How 🫲are you ?❤️\nWelcome to the world☠️ of python Programming💻.\n'

In [86]:
#import the class
from nltk.tokenize import TabTokenizer

#create the obj
tk = TabTokenizer()

#tokenize the dtaa
tk.tokenize(data)

['Hello friends!😂',
 ' How 🫲are you ?❤️\nWelcome to the world☠️ of python Programming💻.\n']

In [87]:
#import the class
from nltk.tokenize import LineTokenizer,WhitespaceTokenizer



#create the obj
tk = WhitespaceTokenizer()

#tokenize the dtaa
tk.tokenize(data)

['Hello',
 'friends!😂',
 'How',
 '🫲are',
 'you',
 '?❤️',
 'Welcome',
 'to',
 'the',
 'world☠️',
 'of',
 'python',
 'Programming💻.']

### MWe tokenizer

In [94]:
sent1 ="the van rossel python creator☠️ , visiting pune this week. 😈the development community is very eager to meet van rossel😶‍🌫️"

In [95]:
print(sent1)

the van rossel python creator☠️ , visiting pune this week. 😈the development community is very eager to meet van rossel😶‍🌫️

In [96]:
word_tokenize(sent1)

['the',
 'van',
 'rossel',
 'python',
 'creator☠️',
 ',',
 'visiting',
 'pune',
 'this',
 'week',
 '.',
 '😈the',
 'development',
 'community',
 'is',
 'very',
 'eager',
 'to',
 'meet',
 'van',
 'rossel😶\u200d🌫️']

In [97]:
#import the class
from nltk.tokenize import MWETokenizer

#create the obj
tk = MWETokenizer()

#tokenize the dtaa
tk.add_mwe(("van","rossel"))
tk.tokenize(word_tokenize(sent1))

['the',
 'van_rossel',
 'python',
 'creator☠️',
 ',',
 'visiting',
 'pune',
 'this',
 'week',
 '.',
 '😈the',
 'development',
 'community',
 'is',
 'very',
 'eager',
 'to',
 'meet',
 'van',
 'rossel😶\u200d🌫️']

In [98]:
sent1='Hello friends :) ! How are you ? Welcome to the world of pythhon Programming :D'

#import the class
from nltk.tokenize import TweetTokenizer

#create the obj
tk = TweetTokenizer()

#tokenize the dtaa
tk.tokenize(sent1)

['Hello',
 'friends',
 ':)',
 '!',
 'How',
 'are',
 'you',
 '?',
 'Welcome',
 'to',
 'the',
 'world',
 'of',
 'pythhon',
 'Programming',
 ':D']

In [99]:
tk.tokenize(data)

['Hello',
 'friends',
 '!',
 '😂',
 'How',
 '🫲',
 'are',
 'you',
 '?',
 '❤',
 '️',
 'Welcome',
 'to',
 'the',
 'world',
 '☠',
 '️',
 'of',
 'python',
 'Programming',
 '💻',
 '.']

### Custom Tokenizer

In [104]:
import re 

def custom_tokenizer(text):
    return re.split(r"[.,;?!\s]+",text)

text = "This is some text with punctuation > Let's tokenize it. Is it ok ? "

tokens = custom_tokenizer(text)

print("Tokens :")

for token in tokens:
    print(token)

Tokens :
This
is
some
text
with
punctuation
>
Let's
tokenize
it
Is
it
ok

# https://mitu.co.in/dataset
# Download : student3.tsv

In [142]:
f= open(r'C:\Users\dai\Desktop\NLP\student3.tsv')
data = f.read()

In [143]:
data

'roll\tname\tclass\tmarks\tage\n1\tanil\tTE\t56.77\t22\n2\tamit\tTE\t59.77\t21\n3\taniket\tBE\t76.88\t19\n4\tajinkya\tTE\t69.66\t20\n5\tasha\tTE\t63.28\t20\n6\tayesha\tBE\t49.55\t20\n7\tamar\tBE\t65.34\t19\n8\tamita\tBE\t68.33\t23\n9\tamol\tTE\t56.75\t20\n10\tanmol\tBE\t78.66\t21\n'

In [144]:
print(data)

roll	name	class	marks	age
1	anil	TE	56.77	22
2	amit	TE	59.77	21
3	aniket	BE	76.88	19
4	ajinkya	TE	69.66	20
5	asha	TE	63.28	20
6	ayesha	BE	49.55	20
7	amar	BE	65.34	19
8	amita	BE	68.33	23
9	amol	TE	56.75	20
10	anmol	BE	78.66	21

In [145]:
x=data.split("\n")
print(x)
lst=[]
for i in x.split("\t"):
    if i.isdigit():
        lst.append(int(i))
    lst.append(sub)
lst

['1\tanil\tTE\t56.77\t22', '2\tamit\tTE\t59.77\t21', '3\taniket\tBE\t76.88\t19', '4\tajinkya\tTE\t69.66\t20', '5\tasha\tTE\t63.28\t20', '6\tayesha\tBE\t49.55\t20', '7\tamar\tBE\t65.34\t19', '8\tamita\tBE\t68.33\t23', '9\tamol\tTE\t56.75\t20', '10\tanmol\tBE\t78.66\t21', '']

[['1', 'anil', 'TE', '56.77', '22'],
 ['2', 'amit', 'TE', '59.77', '21'],
 ['3', 'aniket', 'BE', '76.88', '19'],
 ['4', 'ajinkya', 'TE', '69.66', '20'],
 ['5', 'asha', 'TE', '63.28', '20'],
 ['6', 'ayesha', 'BE', '49.55', '20'],
 ['7', 'amar', 'BE', '65.34', '19'],
 ['8', 'amita', 'BE', '68.33', '23'],
 ['9', 'amol', 'TE', '56.75', '20'],
 ['10', 'anmol', 'BE', '78.66', '21'],
 ['']]

In [151]:
newdata =[]
for x in data.split("\n"):
    inner_list = []
    for y in x.split('\t'):
        if y.isdigit():
            inner_list.append(int(y))
        elif y.find('.') > 0:
            inner_list.append(float(y))
        else:
            inner_list.append(y)
    newdata.append(inner_list)
newdata

[['roll', 'name', 'class', 'marks', 'age'],
 [1, 'anil', 'TE', 56.77, 22],
 [2, 'amit', 'TE', 59.77, 21],
 [3, 'aniket', 'BE', 76.88, 19],
 [4, 'ajinkya', 'TE', 69.66, 20],
 [5, 'asha', 'TE', 63.28, 20],
 [6, 'ayesha', 'BE', 49.55, 20],
 [7, 'amar', 'BE', 65.34, 19],
 [8, 'amita', 'BE', 68.33, 23],
 [9, 'amol', 'TE', 56.75, 20],
 [10, 'anmol', 'BE', 78.66, 21],
 ['']]