In [49]:
sent1 = "It is a good practice for us."
sent2 = "It was also good to know about it."

In [50]:
import pandas as pd
import nltk
from collections import Counter
from nltk.tokenize import word_tokenize , sent_tokenize

In [65]:
#bag of words

freq_dict = {}

sentence1 = nltk.word_tokenize(sent1.lower()) 
sentence2 = nltk.word_tokenize(sent2.lower()) 

sentences_list = sentence1 + sentence2

word_counts = Counter(sentences_list)

for word, count in word_counts.items():
    freq_dict[word] = count

freq_dict

{'it': 3,
 'is': 1,
 'a': 1,
 'good': 2,
 'practice': 1,
 'for': 1,
 'us': 1,
 '.': 2,
 'was': 1,
 'also': 1,
 'to': 1,
 'know': 1,
 'about': 1}

In [66]:
freq_dict = {}

sentences_list = nltk.word_tokenize(sent2.lower())

word_counts = Counter(sentences_list)

for word, count in word_counts.items():
    freq_dict[word] = count

freq_dict

{'it': 2,
 'was': 1,
 'also': 1,
 'good': 1,
 'to': 1,
 'know': 1,
 'about': 1,
 '.': 1}

In [84]:
table  = pd.DataFrame([nltk.word_tokenize(sent1.lower()) + nltk.word_tokenize(sent2.lower())])
table.T.value_counts()

0
it          3
.           2
good        2
a           1
about       1
also        1
for         1
is          1
know        1
practice    1
to          1
us          1
was         1
Name: count, dtype: int64

In [92]:
## Sir's Method

In [93]:
tokens = word_tokenize(sent1.lower()) + word_tokenize(sent2.lower())

In [99]:
tokens = set(tokens)

In [100]:
df = pd.DataFrame({} , index=[1,2] , columns=list(tokens))

In [101]:
tokens1 = word_tokenize(sent1.lower())
tokens2 = word_tokenize(sent2.lower())

In [102]:
count1 = [tokens1.count(x) for x in df.columns]
count2 = [tokens2.count(x) for x in df.columns]

In [103]:
df.iloc[0 , :] = count1
df.iloc[1 , :] = count2

In [104]:
df

  for also good is know it us  . was  a about practice to
1   1    0    1  1    0  1  1  1   0  1     0        1  0
2   0    1    1  0    1  2  0  1   1  0     1        0  1

In [106]:
from sklearn.feature_extraction.text import CountVectorizer

In [112]:
cvt = CountVectorizer()

In [113]:
new_data = cvt.fit_transform([sent1 , sent2])

In [114]:
new_data

<2x11 sparse matrix of type '<class 'numpy.int64'>'
	with 13 stored elements in Compressed Sparse Row format>

In [119]:
array = new_data.toarray()

In [120]:
feature = cvt.get_feature_names_out()

In [123]:
new_df = pd.DataFrame(data=array, columns=feature)
new_df

   about  also  for  good  is  it  know  practice  to  us  was
0      0     0    1     1   1   1     0         1   0   1    0
1      1     1    0     1   0   2     1         0   1   0    1

### n-grams

In [133]:
#help(cvt)

In [134]:
### 1 and 2 words

In [135]:
cvt = CountVectorizer(ngram_range=(1,2))

In [136]:
new_data = cvt.fit_transform([sent1 , sent2])

In [137]:
new_data.toarray()

array([[0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
        0],
       [1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 2, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1,
        1]], dtype=int64)

In [138]:
cvt.get_feature_names_out()

array(['about', 'about it', 'also', 'also good', 'for', 'for us', 'good',
       'good practice', 'good to', 'is', 'is good', 'it', 'it is',
       'it was', 'know', 'know about', 'practice', 'practice for', 'to',
       'to know', 'us', 'was', 'was also'], dtype=object)

In [139]:
new_df = pd.DataFrame(data=new_data.toarray(), columns=cvt.get_feature_names_out())
new_df

,about,about it,also,also good,for,for us,good,good practice,good to,is,...,it was,know,know about,practice,practice for,to,to know,us,was,was also
0,0,0,0,0,1,1,1,1,0,1,...,0,0,0,1,1,0,0,1,0,0
1,1,1,1,1,0,0,1,0,1,0,...,1,1,1,0,0,1,1,0,1,1

In [140]:
##Max 2 words

In [141]:
cvt = CountVectorizer(ngram_range=(2,2))
new_data = cvt.fit_transform([sent1 , sent2])
cvt.get_feature_names_out()
new_df = pd.DataFrame(data=new_data.toarray(), columns=cvt.get_feature_names_out())
new_df

,about it,also good,for us,good practice,good to,is good,it is,it was,know about,practice for,to know,was also
0,0,0,1,1,0,1,1,0,0,1,0,0
1,1,1,0,0,1,0,0,1,1,0,1,1